<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto News of the Day</title>
</head>
    <h1> test</h1>
    
    <form method="GET">
    <div class="container d-flex justify-content-center">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <div class="row">
              </div>
            </div>
            <p data-th-text="${NewsArticle.id}"></p>
            <p data-th-text="${NewsArticle.title}"></p>
            <img src="https://images.cryptocompare.com/news/default/bitcoincom.png" alt="image">
            
            <div class="justify-content-center">
              <button type="reset" class="btn btn-warning btn-lg">
                Save
            </button>
              <br />
            </div>
          </div>
        </div>
      </div>
</body>
</html>