<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto News of the Day</title>
</head>
    <div class="container d-flex justify-content-center">
      <div class="row mt-5">
          <div class="row">
          <form method = "GET" action = "text">
            <p data-th-text="${NewsArticle.id}"></p>
            <p data-th-text="${NewsArticle.title}"></p>
            <img src="https://images.cryptocompare.com/news/default/bitcoincom.png" alt="image">
            <button type="submit" class="btn btn-warning btn-lg">
              Save
          </button>
            <br />
          </div>
        </div>
      </div>
</body>
</html>